<!DOCTYPE html>
<html>
<head>
  <title>Teacherbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="texture">
  <div class="texture-inverted"></div>
  <div class="texture-normal"></div>
</div><br>
<div class="name-tag">
  <% if session[:teacher_id] %>
    <div>Hello <%= Teacher.find_by_id(session[:teacher_id]).name %></div></br>
  <% end %>
</div>
<%= yield %>
<div class="logout">
  <%= link_to "Logout", sessions_logout_path if session[:teacher_id] %></br>
</div>

</body>
</html>
